<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="https://freefeed.net/assets/images/favicon.ico" />
    <title>FreeFeed backup (directs of @$USERNAME)</title>
    $STYLES
  </head>
  <body>
    <div id="main">
      <p class="go-back"><a href="./index.html">&larr; Go back to index</a></p>
      $HEADER
      <h2>Directs</h2>
      <section>$DIRECTS</section>
      <p class="go-back"><a href="./index.html">&larr; Go back to index</a></p>
    </div>
  </body>
</html>
