<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="https://freefeed.net/assets/images/favicon.ico" />
    <title>FreeFeed backup (@$USERNAME)</title>
    $STYLES
  </head>
  <body>
    <div id="main">
      $HEADER
      <h2>Posts</h2>
      <section>$CALENDAR</section>
      <h2>Direct messages</h2>
      <section><a href="./directs.html">View all direct messages</a></section>
      <footer>Backup of $POSTSCOUNT posts by <a href="$SERVER/$USERNAME" target="_blank">@$USERNAME</a> made on $NOW. Source: <a href="https://github.com/n1313/ff-backup">GitHub</a></a></footer>
    </div>
  </body>
</html>
