<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="https://freefeed.net/assets/images/favicon.ico" />
    <title>FreeFeed backup (posts of @$USERNAME for $YEAR)</title>
    $STYLES
  </head>
  <body>
    <div id="main">
      <p class="go-back"><a href="./index.html">&larr; Go back to index</a></p>
      $HEADER
      <h2>Posts for year $YEAR</h2>
      <section>$POSTS</section>
      <p class="go-back"><a href="./index.html">&larr; Go back to index</a></p>
    </div>
  </body>
</html>
